.communities-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
}

.card-header h3{
    font-size: 14px;
}

.card-header a {
    color: #ED2590;
    font-weight: 600;
}

.communities-grid {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.text-box {
    text-align: center;
    cursor: pointer;
}

.text-box p {
    font-size: 14px;
}


@media (max-width: 768px) {
    .communities-card {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }

    .text-box p {
        font-size: 12px;
    }

}