.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    display: grid;
    grid-template-columns: 100px 400px 1fr 60px;
    padding: 20px 40px;
    background: white;
    align-items: center;
}

.pulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-layout {
    display: grid;
    grid-template-columns: 350px 1fr 350px;
    gap: 50px;
    padding: 40px;
  
}

.sidebar {
    background: none;
}

.profile-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

.profile-info {
    background: white;
    padding: 20px;
    border-radius: 12px;
}

.right-panel > div {
    background: white;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
}


@media (max-width: 1024px) {
    .grid-layout {
        display: grid;
        grid-template-columns: 1fr; /* Tudo em 1 coluna */
        gap: 30px;
        text-align: center;
    }

    /* Sidebar centralizada */
    .sidebar {
        margin: 0 auto;
        width: 350px;
    }

    /* ProfileInfo ocupa a linha inteira */
    .profile-info {
        width: 100%;
        text-align: left;
    }

    /* Friends + Communities na mesma linha */
    .right-panel {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .right-panel > div {
        margin-bottom: 0;
    }

}


@media (max-width: 768px) {
    .grid-layout {
        grid-template-columns: 1fr; /* apenas 1 coluna */
        text-align: center;
    }

    .profile-info {
        width: 100%;
    }

    /* Friends e Communities um embaixo do outro */
    .right-panel {
        grid-template-columns: 1fr;
    }

    .right-panel > div {
        width: 100%;
    }
}


